<html>


	<head>
		<title>Tracy's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Tracy's blog</a></h1>
		</div>

		<div>
			<p>Published: 05.03.2016, 15:48</p>
			<h2><a href=""> My first post</a></h2>
			<p>Today I have been programming all day to be able to start this blog.</p>
		</div>

		 <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
	</body>

</html>